.home-btn {
    outline: none;
    border: none;
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.home-btn:hover .home-link {
    text-decoration: underline;
}

.home-btn img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.portfolio-link {
    text-decoration: none;
    font-size: 14px;
    font-family: var(--font-family-raleway);
}

.portfolio-link:hover {
    text-decoration: underline;
}

.home-link {
    text-decoration: none;
    font-size: 16px;
    font-family: var(--font-family-pop);
}

.post-footer {
    margin: 50px 0;
    font-size: 14px;
}

.blog-post-footer {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.blog-post-share {
    display: flex;
    align-items: flex-end;
    gap: 5px;
}

.blog-post-share a,
.blog-post-share button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--border-color);
    color: var(--primary-text);
    text-decoration: none;
}

.blog-post-share a:hover,
.blog-post-share button:hover {
    transform: scale(0.9);
}

.blog-post-share a svg,
.blog-post-share button svg {
    width: 20px;
    height: 20px;
    color: var(--primary-text);
    fill: var(--primary-text);
    background-color: transparent;
}

.copy-url-button {
    outline: none;
    border: none;
    cursor: pointer;
}

.open__btn {
    width: fit-content;
    color: #000;
    font-family: var(--font-family-pop);
    font-weight: 600;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.open__btn:hover {
    transform: scale(0.95);
}

.blog-comp__domains {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    height: fit-content;
    margin: 10px 0 10px;
    justify-content: flex-end;
    align-items: flex-start;
}

.blog-comp__domains span {
    width: fit-content;
    padding: 10px 15px;
    border-radius: 5pc;
    font-size: 12px;
    color: var(--primary-text);
    text-align: center;
    border: solid 1px var(--border-color);
}

.search-form {
    margin: 10px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-form input {
    width: 80%;
    padding: 10px;
    border: none;
    border: solid 1px var(--border-color);
}

.search-form input::placeholder {
    color: #000;
}

.blog-post-wrapper {
    font-family: var(--font-family-raleway);
    line-height: 2;
    width: 60%;
    margin: 20px auto;
    font-size: 17px;
    color: var(--primary-text);
    font-weight: 400;
    border-bottom: solid 2px var(--border-color);
}

.blog-post-wrapper a {
    color: var(--yellow-color);
    text-decoration: none;
}

.blog-post-wrapper a:hover {
    text-decoration: underline;
}

.blog-post-wrapper h1,
.blog-post-wrapper h2,
.blog-post-wrapper h3,
.blog-post-wrapper h4,
.blog-post-wrapper h5,
.blog-post-wrapper h6 {
    font-family: var(--font-family-raleway);
    color: var(--primary-text);
    margin: 20px 0 0;
}

.blog-post-wrapper h1 {
    font-size: 1.5em;
    margin: 20px 0;
    color: var(--primary-text);
}

.blog-post-wrapper h1::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--border-color);
    margin-top: 10px;
}

.blog-post-wrapper h2 {
    font-size: 1.3em;
    margin-top: 30px;
    padding: 5px 0;
}

.blog-post-wrapper h2::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    margin-bottom: 10px;
    background-color: var(--border-color);
}

.blog-post-wrapper h3 {
    font-size: 1.1em;
}

.blog-post-wrapper h4 {
    font-size: 1em;
}

.blog-post-wrapper h5 {
    font-size: 0.9em;
}

.blog-post-wrapper pre {
    background-color: #212121;
    padding: 20px;
    border-radius: 5px;
    overflow-x: auto;
    margin: 10px 0;
}

.blog-post-wrapper li {
    margin: 0 20px;
}

.blog-post-wrapper pre code {
    background-color: #212121;
    font-size: 16px;
    color: #fff;
}

.blog-post-tag {
    height: fit-content;
    padding: 10px 20px;
    border-radius: 5pc;
    border: solid 1px var(--border-color);
    color: var(--primary-text);
    font-size: 14px;
    cursor: pointer;
}

.blog-post-tag {
    padding: 5px 10px;
    background-color: var(--border-color);
}

.post-footer .blog-post-tag {
    font-size: 12px;
}

.blog-tag:hover {
    background-color: var(--border-color);
    color: #000;
}

.blog-tag:hover span {
    background-color: var(--border-color);
}

.blog-loading {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-post-tags {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 10px 0;
}

.blog-domains {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    font-family: var(--font-family-pop);
    margin: 15px 0 0 0;
}

.tag {
    border: solid 1px var(--border-color);
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5pc;
    width: fit-content;
}

.blog-insights {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.blog-insights button,
.insights {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
}

.blog-insights button {
    border: solid 1px var(--border-color);
    padding: 5px;
    border-radius: 5px;
}

.blog-insights button:hover {
    background-color: var(--border-color);
}

.blog-insights button:hover svg,
.blog-insights button:hover p {
    background-color: var(--border-color);
}

.tldr-wrapper {
    margin: 20px 0;
}

.summarize-btn {
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: solid 1px var(--border-color);
    border-radius: 5px;
    font-family: var(--font-family-raleway);
    background-color: var(--highlight-color);
    color: #000;
}

.summarize-btn:hover {
    transform: scale(0.98);
}

.summarize-btn svg {
    fill: var(--highlight-color);
}

.liked {
    background-color: var(--border-color);
}

.liked svg {
    background-color: var(--border-color);
}

.liked p {
    background-color: transparent;
}

.tool-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    text-decoration: none;
    font-family: var(--font-family-raleway);
    background-color: var(--primary-color);
    border-color: var(--highlight-color);
    color: var(--highlight-color);
    
    display: flex;
    align-items: center;
    gap: 5px;
}

.tool-btn button {
    outline: none;
    padding: 10px;
    border: solid 1px var(--border-color);
    border-radius: 10px;
    cursor: pointer;
}

.tool-btn svg {
    background-color: transparent;
    fill: var(--highlight-color);
}

.subscribe-btn {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 10px;
    border: solid 1px var(--border-color);
    border-radius: 10px;
    color: var(--highlight-color);
    text-decoration: none;
    font-weight: bold;
}

.subscribe-btn:hover, .tool-btn button:hover {
    color: var(--primary-text);
    background-color: var(--highlight-color);
}

.subscribe-btn:hover svg, .tool-btn button:hover svg {
    fill: var(--primary-text);
}

.scroll-top_btn {
    outline: none;
    border: none;
    position: fixed;
    bottom: 50px;
    left: 50%;
    padding: 5px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: var(--glass-color);
    border-radius: 12px;
    border: 1px solid var(--border-color);
}

.scroll-top_btn svg {
    background-color: transparent;
}

@media screen and (min-width: 300px) and (max-width: 700px) {
    .blog-post-wrapper {
        width: 95%;
    }
}

@media screen and (min-width: 701px) and (max-width: 1100px) {
    .blog-post-wrapper {
        width: 90%;
    }
}
