.blog-header {
    width: 100%;
    display: grid;
    align-items: flex-start;
    flex-direction: column;

    padding: 10px 0;
    box-sizing: border-box;
    border-radius: 0 0 5px 5px;
}

.blog-header:nth-child(1) {
    margin: 0 0 20px;
}

.blog-header {
    display: flex;
    /* align-items: center; */
    gap: 10px;
    margin: 20px 0;
}

.blog-wrapper {
    width: 100%;
    display: grid;
    place-items: center;
}

.blog-main {
    width: 60%;
    margin: 20px 0;
}

.blog-input_header {
    display: flex;
    align-items: center;
    flex-flow: row-reverse;
    justify-content: space-between; 
    padding: 10px 0;
    box-sizing: border-box;
    gap: 10px;
}

.header-main {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.header-main a {
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: var(--font-family-pop);
}

.menu-btn {
    outline: none;
    cursor: pointer;
    border: none;
}

.menu-btn svg {
    width: 30px;
    height: 30px;
}

.menu-btn:hover {
    transform: scale(0.95);
}

.controls-wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
}

.controls-wrapper button {
    outline: none;
    border: none;
}

.search-input {
    outline: none;
    border: solid 1px var(--border-color);
    padding: 10px;
    font-family: var(--font-family-raleway);
    border-radius: 5pc;
    font-size: 12px;
    width: 250px;
}

.menu {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px 0;
    border-radius: 5px;
    background-color: var(--primary-color);
}

.menu button {
    outline: none;
    border: none;
    cursor: pointer;
    background-color: var(--primary-color);
    font-family: var(--font-family-raleway);
    font-size: 18px;
}

.menu button:hover {
    transform: scale(0.95);
    color: var(--highlight-color);
}

.menu a {
    text-decoration: none;
    font-size: 18px;
    font-family: var(--font-family-raleway);
    color: var(--highlight-color);
}

.filtering-option {
    display: flex;
    align-items: center;
    font-family: var(--font-family-pop);
    gap: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.blog-tags {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;
    max-height: 92px;
    overflow: hidden;
}

.blog-tags_more {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;
    height: fit-content;
}

.blog-tag,
.blog-tag_reset,
.show-more_tag_btn,
.blog-post-tag {
    height: fit-content;
    padding: 10px 20px;
    border-radius: 5pc;
    border: solid 1px var(--border-color);
    color: var(--primary-text);
    font-size: 14px;
    cursor: pointer;
}

.show-more_tag_btn {
    margin: 10px 0;
    padding: 0;
}

.blog-tag_reset,
.show-more_tag_btn {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--border-color);
}

.show-more_tag_btn {
    width: fit-content;
    gap: 0;
    padding: 10px;
    font-size: 12px;
    color: var(--primary-text);
    /* border: solid 2px #fff; */
}

[data-theme="dark"] .show-more_tag_btn {
    background: linear-gradient(
        135deg,
        #3a3a3a 0%,
        #2b2b2b 50%,
        #3a3a3a 100%
    );
}

[data-theme="light"] .show-more_tag_btn {
    background: linear-gradient(
        135deg,
        #ffffff 0%,
        #ededed 50%,
        #dcdcdc 100%
    );

    color: var(--primary-text);
}

.blog-tag_reset {
    background-color: #ef4444;
    border-color: #ef4444;
}

.blog-tag_reset svg,
.show-more_tag_btn svg {
    color: var(--primary-text);
    background-color: var(--border-color);
}

.blog-tag_reset svg {
    background-color: #ef4444;
}

.blog-tag {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.blog-tag_count {
    background-color: var(--border-color);
    padding: 1px 5px;
    border-radius: 5px;
    color: var(--primary-text);
}

.blog-tag:hover {
    background-color: var(--highlight-color);
    color: #000;
}

.blog-tag:hover span {
    background-color: var(--highlight-color);
}

.blog-controls {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.blog-pagination {
    display: flex;
    align-items: center;
    gap: 10px;
}

.blog-pagination button {
    background-color: var(--border-color);
    color: var(--primary-text);
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-pagination button:disabled {
    background-color: rgba(58, 58, 58, 0.5);
    cursor: not-allowed;
}

.blog-pagination button:hover {
    transform: scale(0.95);
}

.blog-pagination button svg {
    color: var(--primary-text);
    background-color: transparent;
}

.blogs-count {
    margin: 20px 0;
}

.blog-profile {
    margin: 0.5rem 0;
    border-bottom: solid 1px var(--border-color);
    padding: 10px 0;
}

.blog-profile .social-links {
    display: flex;
    gap: 10px;
    align-items: center;
}

.blog-profile a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: var(--font-family-pop);
}

.blog-profile a:hover {
    transform: scale(0.9);
}

.blogs {
    width: 100%;
    /* min-height: 90vh; */
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    /* overflow: scroll; */
}

.zero-blogs {
    justify-content: center;
    align-items: center;
}

.no-blogs_matched {
    margin: 35px 0;
    font-family: var(--font-family-pop);
    font-size: 16px;
    text-align: center;
}

.no-blogs {
    width: fit-content;
    font-size: 16px;
    padding: 5px;
    min-height: 90vh;
    /* border: solid 1px var(--highlight-color); */
    color: var(--highlight-color);
    font-family: var(--font-family-raleway);
    /* background-color: var(--highlight-color); */
    margin: 20px auto;
    border-radius: 5px;
}

.active {
    background-color: var(--highlight-color);
    border-color: var(--highlight-color);
}

.active span {
    /* background-color: var(--border-color); */
    background-color: var(--highlight-color);
}

.blog-ops {
    width: 100%;
    margin: 20px 0;
    display: flex;
    gap: 10;
    font-family: var(--font-family-raleway);
}

.blog-ops select {
    outline: none;
    border: none;
    width: fit-content;
    font-size: 16px;
    font-family: var(--font-family-pop);
}

.blog-ops .sort-icon {
    display: flex;
    align-items: center;
}

.no-blogs_topic {
    font-family: var(--font-family-raleway);
    padding: 5px;
    letter-spacing: 1px;
}

.blog-pagination {
    width: 100%;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
  
.blog-pagination-number {
    background: transparent;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    cursor: pointer;
    color: var(--primary-text);
    transition: 0.2s ease;
}
  
.blog-pagination-number:hover {
    background: transparent;
}
  
.blog-pagination-number.active {
    background: var(--highlight-color);
    color: var(--primary-text);
    border-color: var(--highlight-color);
}

.blog-page-title {
    font-family: var(--font-family-raleway);
    margin: 0 5px 0 0;
}

@media screen and (min-width: 300px) and (max-width: 700px) {
    .blog-main {
        width: 95%;
    }
    .blog-input_header {
        width: 100%;
        padding: 0 20px 0 0;
        gap: 10px;
        margin: 10px;
    }
    .controls-wrapper {
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .search-input {
        width: 100%;
    }
    .show-more_tag_btn {
        align-self: flex-end;
    }
}

@media screen and (min-width: 701px) and (max-width: 1100px) {
    .blog-main {
        width: 90%;
    }
}