.comment-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comment-form textarea {
    outline: none;
    padding: 10px;
    border-radius: 8px;
    box-sizing: border-box;
    border: solid 1px var(--border-color);
    font-family: var(--font-family-inter);
    font-weight: 500;
    font-size: 16px;
    color: var(--primary-text);
}

.comment-form textarea:read-only {
    background-color: var(--border-color);
    cursor: not-allowed;
}

.comment-form button {
    padding: 10px;
    text-align: center;
    font-family: var(--font-family-inter);
    border: solid 1px var(--border-color);
    background-color: var(--primary-text);
    border-radius: 8px;
    cursor: pointer;
    color: var(--primary-color);
}

.comment-form button:disabled {
    cursor: not-allowed;
}

.comment-form button:hover,
.reply-form button:hover {
    border-color: var(--highlight-color);
    background-color: var(--highlight-color);
}

.comment-form button:disabled:hover {
    border-color: var(--border-color);
    background-color: var(--border-color);
}

.comment {
    margin: 1rem 0;
}

.comment-content {
    display: flex;
    height: fit-content;
    gap: 0 10px;
}

.comment-meta {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.comment-meta span {
    color: var(--primary-text);
}

.comment-meta .user-name {
    color: var(--highlight-color);
}

.user-avthar {
    padding: 1px 10px;
    box-sizing: border-box;
    background-color: var(--highlight-color);
    border-radius: 5px;
    align-self: center;
    height: 50px;
    width: 50px;
    display: grid;
    place-items: center;
}

.user-name {
    font-size: 16px;
    font-family: var(--font-family-inter);
    font-weight: bold;
    color: var(--highlight-color);
}

.comment-thread {
    margin-left: 1.25rem;
    border-left: 1px solid var(--border-color);
    padding-left: 1rem;
}

.comment-actions {
    height: fit-content;
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    gap: 0 10px;
    font-size: 14px;
}

.comment-actions span {
    color: var(--primary-text);
}

.comment-actions button {
    outline: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
    color: var(--primary-text);
}

.comment-actions button svg,
.delete-btn svg {
    fill: var(--primary-text);
    color: var(--primary-text);
}

.comment-actions .like-btn {
    display: flex;
    align-items: center;
    gap: 0 3px;
    background-color: transparent;
}

.comment-actions button:hover {
    text-decoration: underline;
}

.reactionIcon path{
    fill: var(--primary-text);
}

.reply-form {
    width: 100%;
    display: grid;
    grid-template-columns: 70% 28%;
    gap: 10px;
    transition: all 0.2s ease-in-out;
    justify-content: space-around;
}

.reply-form input {
    padding: 10px;
    border: solid 1px var(--border-color);
    border-radius: 8px;
    font-family: var(--font-family-inter);
}

.reply-form button {
    border: solid 1px var(--border-color);
    background-color: var(--border-color);
    border-radius: 8px;
    cursor: pointer;
}

.login-user, .show-replies {
    display: flex;
    align-items: center;
    gap: 10px;
}

.login-user {
    margin: 1rem 0;
    font-size: 16px;
    color: var(--primary-text);
}

.show-replies {
    gap: 5px;
    background-color: transparent;
}

.login-user button {
    outline: none;
    border: solid 1px var(--border-color);
    cursor: pointer;
    padding: 5px;
    border-radius: 8px;
}

.login-user button svg {
    font-size: 16px;
    fill: var(--primary-text);
}

.login-user button:hover {
    background-color: var(--border-color);
}

.login-user button:hover svg {
    background-color: var(--border-color);
}

button:disabled {
    cursor: not-allowed;
}

.message {
    font-size: 14px;
    font-family: var(--font-family-inter);
    color: var(--primary-text);
}

.comments-list {
    margin: 2rem 0;
}

.delete-btn svg {
    font-size: 14px;
}