:root {
  --font-family-inter: var(--font-montserrat), sans-serif;
  
  /* Dark Theme Colors */
  --primary-color: #101820FF;
  --primary-text: #FFFFFF;
  --secondary-text: #cacaca;
  --border-color: #585858;
  --highlight-color: #10b981;
  --yellow-color: #FEE715FF;
  --blue-color: #1e88e5;
  --glass-color: rgba(38, 38, 38, 0.75);
}

* {
  margin: 0;
  padding: 0;
  color: #000;
  background-color: var(--primary-color);
}

::selection {
  background: var(--highlight-color); 
  color: #000;         
}

hr {
    margin: 20px 0  ;
}

img {
    margin: 20px 0;
    width: 100%;
    height:auto;
    border-radius: 5px;
}

blockquote {
    padding: 10px;
    box-sizing: border-box;
    margin: 10px 0;
    border: solid 1px var(--border-color);
}

code,
pre,
pre div {
  background-color: transparent !important; /* or any color you want */
}

mark {
  background-color: var(--yellow-color);
  color: #000;
  border-radius: 5px;
}