.profile-wrapper {
    width: 60%;
    margin: 20px 0;
}

.profile-wrapper {
    margin: 50px auto 100px ;
    font-family: var(--font-family-inter);
}

.profile-wrapper a {
    text-decoration: none;
    color: var(--highlight-color);
}

.profile-intro {
    margin: 20px 0;
    line-height: 1.8;
}

.profile-intro h1 {
    font-family: var(--font-family-inter);
    margin: 10px 0;
}

.profile-intro p {
    font-size: 16px;
    line-height: 2.2;
    font-weight: 300;
}

.profile-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (min-width: 300px) and (max-width: 700px) {
    .profile-wrapper {
        width: 95%;
    }
}

@media screen and (min-width: 701px) and (max-width: 1100px) {
    .profile-wrapper {
        width: 90%;
    }
}